
<div class="home-page">
    <h2>Add Pet</h2>
        <form>    
            <input required class="petNameIn" type="text" ng-model="vm.petToAdd.petName" placeholder="Pet Name">
            <input required class="petColorIn" type="text" ng-model="vm.petToAdd.color" placeholder="Color">
            <input required class="petBreedIn" type="text" ng-model="vm.petToAdd.breed" placeholder="Breed">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Owner
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li>HTML</li>
                  
                </ul>
              </div>            
               <button id="addPetButton" ng-click="vm.addPet()">Submit</button>
        </form>
        </div>