
<div class="home-page">
    <h2>Add Pet</h2>
        <form>    
            <input required class="petOwnerIn" type="text" ng-model="vm.petToAdd.owner" placeholder="Owner">
            <input required class="petNameIn" type="text" ng-model="vm.petToAdd.petName" placeholder="Pet Name">
            <input required class="petBreedIn" type="text" ng-model="vm.petToAdd.breed" placeholder="Breed">
            <input required class="petColorIn" type="text" ng-model="vm.petToAdd.color" placeholder="Color">

               <button id="addPetButton" ng-click="vm.addPet()">Submit</button>
        </form>
        </div>

        <table class="table table-bordered">
            <h2>History</h2>
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Pet Name</th>
                    <th>Breed</th>
                    <th>Color</th>
                    <th>Checked In</th>
                    <th>Actions</th>
                </tr>
            <tbody>
                <tr ng-repeat="thing in vm.petsArray">
                    <td>{{thing.owner}}</td>
                    <td>{{thing.petName}}</td>
                    <td>{{thing.breed}}</td>
                    <td>{{thing.color}}</td>
                    <td><button ng-click="vm.removePet(thing)">Remove</button></td>
                </tr>
            </tbody>
        
        </table>